---
---

@import "{{ site.theme }}";

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
        /*filter: hue-rotate(180deg) invert(90%);*/
    }
}

.logo-image{
    background-color: unset!important;
    max-width: 80%!important;
}

.post-title {
    display: block;
    font-size: 1.6rem;
    text-decoration: underline;
}

a.post-title{
    color: unset;

}

.post-meta {
    font-size: 12px;
    color: #999999;
}

.article-title{
    border-bottom: unset!important;
}

.topic-badge{
    display: inline-block;
    border-radius: 10px;
    color: white!important;
    background-color: rgb(5, 5, 116);
    font-size: smaller;
    margin: 2px;
    padding: 4px;
}

.topic-badge:nth-of-type(4n) {
    background-color: rgb(255, 179, 0);
}

.topic-badge:nth-of-type(4n + 1) {
    background-color: rgb(255, 0, 153);
}

.topic-badge:nth-of-type(4n + 2) {
    background-color: rgb(0, 255, 34);
}

.topic-badge:nth-of-type(4n + 3) {
    background-color: rgb(255, 85, 0);
}