---
---

@import "{{ site.theme }}";

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
        /*filter: hue-rotate(180deg) invert(90%);*/
    }
}

.post-title {
    display: block;
    font-size: 1.6rem;
    text-decoration: underline;
}

a.post-title{
    color: unset;

}

.post-meta {
    font-size: 12px;
    color: #999999;
}

.article-title{
    border-bottom: unset!important;
}