---
layout: default
---

<h1 class="article-title">{{ page.name }}</h1>

{% if page.short_description %}
    <p>{{ page.short_description }}</p>
{% endif %}

<div style="margin-bottom: 30px;"><span class="post-meta">Made in {{ page.date | date: "%B %Y" }}</span>
    | 
    {% capture words %}
          {{ content | number_of_words | minus: 180 }}
          {% endcapture %}
          {% if words contains '-' %}
          1 minute to read
          {%else %}
          {{ words | plus: 180 | divided_by: 180 | append: ' minutes to read' }}
          {% endif %}
    | 
    <span class="post-meta">Posted by
        {{ site.author }}
    </span></div>

    {% if page.image %}
        <div style="text-align: center;">
            <img src="{{ page.image }}" alt="{{ page.name }} logo">
        </div>
    {% endif %}

{{ content }}

<!-- TODO: div with github link if any, documentation link if any, authors list if any -->